<form [formGroup]="contactPersonsForm" >
   <p>Contact Persons:</p>
  <button (click)="addContactPerson()">Add Contact Person</button>
  <ul>
    <li *ngFor="let contactPerson of contactPersons?.controls; let i = index">
      <app-contact-person [index]="i" [contactPersonForm]="contactPerson" [claimContactPersonMeansLookup]="claimContactPersonMeansLookup" (deleteContactPerson)="deleteContactPerson($event)"></app-contact-person>
    </li>
  </ul>

  <button  type="submit" (click)="saveTeam()" [disabled]="contactPersonsForm.invalid">Submit</button>
  <pre>Parent Form Status: <span class="status">{{contactPersonsForm.status}}</span></pre>
</form>
