.example-form {
  margin: 25px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px;
}

.example-form div {
  padding: 5px;
}

.example-form div span {
  padding-right: 10px;
}

.btn-primary {
  background-color: #0062cc;
  border: 1px solid #0062cc;
  border-radius: 5px;
  padding: 7px 15px;
  color: white;
  font-size: 18px;
}

.ng-invalid {
  border-color: red !important;
}

.form-invalid {
  color: red;
}

.form-valid {
  color: green;
}
